<!-- disqus 评论框 end -->
<div id="waline"></div>
{{ if .Site.DisqusShortname }}
<script src='https://cdn.jsdelivr.net/npm/@waline/client/dist/Waline.min.js'></script>
  <script>
    new Waline({
      el: '#waline',
      path: location.pathname,
	  placeholder: '踩一踩...',
	  pageSize: 10,
	  visitor: true,
      serverURL: 'https://imtest-api.vercel.app/'
    });
  </script>
  <!-- id 将作为查询条件 -->
<span id="{{ .URL }}" class="leancloud_visitors">
    <em class="post-meta-item-text">当前文章阅读 </em>
    <i class="leancloud-visitors-count"></i>
</span>
{{ end }}
